@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Open+Sans&family=Poppins:wght@300;400&family=Sofia+Sans:ital,wght@1,200&family=Ubuntu:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(231, 104, 207),
    rgb(247, 13, 212)
  );
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#details {
  margin: auto;
  width: 25rem;
  background-color: white;
  padding: 20px;
  position: relative;
  display: none;
}

#beared-man {
  display: block;
  margin: auto;
  border-radius: 100%;
  width: 20%;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
#details img + P {
  text-align: center;
  line-height: 50px;
  font-weight: 900;
  font-size: large;
  margin: 15px 5px;
  background-image: linear-gradient(
    to right,
    rgb(231, 104, 207),
    rgb(247, 13, 212)
  );
  color: white;
  letter-spacing: 5px;
  border-radius: 5px;
}
.Details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Details > p:nth-child(1) {
  font-weight: 600;
  line-height: 60px;
  background: linear-gradient(
    to right,
    rgb(251, 1, 205),
    rgb(13, 0, 255),
    rgb(0, 157, 165)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#glaze {
  width: 1rem;
  height: 2.7rem;
  background-color: rgba(255, 254, 255, 0.429);
  position: absolute;
  top: 27.5%;
  left: 5%;
  transform: rotate(10deg);
  animation: glaze 2s infinite ease-in-out;
}
@keyframes glaze {
  0% {
    left: 10%;
  }
  100% {
    left: 90%;
  }
}
#glaz2 {
  width: 1rem;
  height: 3rem;
  background: linear-gradient(to right, rgb(231, 104, 207), rgb(247, 13, 212));
  position: absolute;
  top: 26%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#name-show {
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(170, 0, 255);
  letter-spacing: 1px;
}
#gmail-show {
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(170, 0, 255);
}
#password-show {
  font-weight: 600;
  background-color: crimson;
  color: white;
  width: min-content;
  height: min-content;
  padding: 4px;
  border-radius: 5px;
  font-size: small;
  letter-spacing: 1px;
}

#details > button {
  width: 6rem;
  border: 0;
  background: linear-gradient(to right, rgb(231, 104, 207), rgb(247, 13, 212));
  color: white;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 35px;
  padding: 4px;
}

main {
  background-color: white;
  width: 20rem;
  height: 22rem;
  position: relative;
  padding: 15px;
  display: none;
}
main > p:nth-child(1) {
  text-align: center;
  font-weight: 900;
  font-size: large;
  line-height: 35px;
}
#lgs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}
#lgs > p {
  margin-bottom: 20px;
  padding: 5px 50px 5px 50px;
  border: 2px solid rgb(232, 224, 224);
  background-color: rgb(244, 239, 239);
  font-weight: 600;
  font-size: 17px;
}
#display {
  width: 90%;
  margin: auto;
}
#for-login {
  display: flex;
  flex-flow: column;
  position: relative;
  display: none;
}
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid rgb(232, 224, 224);
  font-size: 15px;
}
input[type="password"] {
  margin-bottom: 5px;
}
#hide_show {
  position: absolute;
  top: 32%;
  left: 90%;
  cursor: pointer;
}
#hide,
#show {
  width: 70%;
}
#hide {
}
#show {
  display: none;
}
#forgot {
  color: rgb(247, 5, 211);
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}
#forgot + input[type="submit"] {
  width: 100%;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(247, 0, 201),
    rgb(164, 85, 152)
  );

  color: rgb(247, 247, 247);
  font-size: 17px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
#not-member {
  font-size: 15px;
}
#not-member > span {
  color: rgb(247, 5, 211);
  cursor: pointer;
}

/* for signup section here */

#for-signup {
  display: flex;
  flex-flow: column;
  position: relative;
}
/* display: none; */
#for-signup input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid rgb(232, 224, 224);
  font-size: 15px;
}

#checkbox {
  position: absolute;
  top: 67%;
  right: 45%;
  accent-color: rgb(206, 25, 179);
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
}
label {
  margin-left: 10%;
  font-size: 15px;
  position: relative;
  bottom: 6px;
  margin-bottom: 3px;
}
#signup-submit {
  width: 100%;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(247, 0, 201),
    rgb(164, 85, 152)
  );
  color: white;
  cursor: pointer;
}
#for-signup > form + P {
  font-size: 15px;
}
#for-signup > form + P > span {
  color: rgb(206, 25, 179);
  font-weight: 600;
  cursor: pointer;
}
#hide_show-forsignup {
  position: absolute;
  top: 36%;
  left: 90%;
  cursor: pointer;
}
#hide,
#show {
  width: 70%;
}
#hide {
}
#show {
  display: none;
}
